* {
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
.background {
  background: #000;
  height: -webkit-fill-available;
}
.menu {
  display: flex;
  flex-direction: column;
  background: rgb(59, 37, 7);
  height: -webkit-fill-available;
  border: 5px double darkgoldenrod;
}
.new-game {
  display: flex;
  border-bottom: 5px double darkgoldenrod;
  width: 100%;
  height: 15%;
  padding: 5% 0;
  font-size: x-large;
  font-family: cursive;
  color: darkgoldenrod;
  justify-content: center;
}
.new-game:hover {
  color: goldenrod;
  cursor: pointer;
  user-select: none;
}
.new-game:active {
  color: goldenrod;
  cursor: pointer;
  user-select: none;
}
.info {
  display: flex;
  border-bottom: 5px double darkgoldenrod;
  width: 100%;
  height: 15%;
  font-size: x-large;
  font-family: cursive;
  color: darkgoldenrod;
}
.steps {
  border-right: 5px double darkgoldenrod;
  width: 50%;
  padding: 0 0 0 5px;
}
.time {
  width: 50%;
  padding: 0 0 0 5px;
}
.field-size-title {
  border-right: 5px double darkgoldenrod;
  width: 50%;
  text-align: center;
}
.field-size-selector {
  width: 50%;
  background: rgb(59, 37, 7);
  font-family: cursive;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
  font-size: large;
  text-align-last: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.field-size-selector option {
  border-color: darkgoldenrod;
  text-align-last: center;
  text-align: center;
  margin: 0 auto;
}
.playground {
  height: -webkit-fill-available;
  width: 100%;
}
.playground td {
  border: 1px solid darkgoldenrod;
  padding: 1px;
  text-align: center;
}
.play-table {
  border-collapse: collapse;
}
.playground-cell {
  font-size: -webkit-xxx-large;
  font-weight: bold;
  color: darkgoldenrod;
}
.playground-cell:hover {
  color: goldenrod;
  cursor: pointer;
}
.playground-cell:active {
  color: goldenrod;
  cursor: pointer;
}